<div ng-form="ageForm">
    <div class="input-group" style="width: 100%;">
        <input type="text" 
               popover="{{'dob'| translate}}"
               popover-trigger="focus"
               d2-date name="dob" 
               d2-date-validator
               ng-model="age.dob"
               blur-or-change="saveDOB()"
               ng-required="d2Required"
               ng-disabled="d2Disabled"
               placeholder="{{'dob'| translate}}" 
               title="{{'dob'| translate}}" 
               class="form-control no-right-radius"
               ng-class="{'input-success': d2AgeSaved}"/>
        <span class="input-group-btn empty-span"></span>
        <input type="number" 
               name="years" 
               popover="{{'years'| translate}}"
               popover-trigger="focus"
               ng-model="age.years" 
               ng-model-options="{updateOn: 'blur'}"
               ng-change="saveAge()"
               ng-disabled="d2Disabled"
               d2-number-validator
               number-type="INTEGER_ZERO_OR_POSITIVE"
               placeholder="{{'years'| translate}}"
               title="{{'years'| translate}}" 
               class="form-control no-right-radius no-left-radius"
               ng-class="{'input-success': d2AgeSaved}"/>
        <span class="input-group-btn empty-span"></span>
        <input type="number" 
               name="months" 
               popover="{{'months'| translate}}"
               popover-trigger="focus"
               ng-model="age.months" 
               ng-model-options="{updateOn: 'blur'}"
               ng-change="saveAge()"
               ng-disabled="d2Disabled"
               d2-number-validator
               number-type="INTEGER_ZERO_OR_POSITIVE"
               placeholder="{{'months'| translate}}"
               title="{{'months'| translate}}" 
               class="form-control no-right-radius no-left-radius"
               ng-class="{'input-success': d2AgeSaved}"/>
        <span class="input-group-btn empty-span"></span>
        <input type="number" 
               name="days" 
               popover="{{'days'| translate}}"
               popover-trigger="focus"
               ng-model="age.days" 
               ng-model-options="{updateOn: 'blur'}"
               ng-change="saveAge()"
               ng-disabled="d2Disabled"
               d2-number-validator
               number-type="INTEGER_ZERO_OR_POSITIVE"
               placeholder="{{'days'| translate}}"
               title="{{'days'| translate}}" 
               class="form-control no-left-radius no-right-radius"
               ng-class="{'input-success': d2AgeSaved}"/>
        <span class="input-group-btn"> 
            <button class="btn btn-danger hideInPrint trim" type="button" title="{{'remove'| translate}}" ng-click="removeAge()" ng-disabled="!age.dob || d2Disabled"> 
                <i class="fa fa-trash-o"></i> 
            </button>
        </span>
    </div>
    <div ng-messages="ageForm.years.$error" ng-if="ageInteracted(ageForm.years)" class="required" ng-messages-include="./templates/error-messages.html"></div>
    <div ng-messages="ageForm.months.$error" ng-if="ageInteracted(ageForm.months)" class="required" ng-messages-include="./templates/error-messages.html"></div>
    <div ng-messages="ageForm.months.$error" ng-if="ageInteracted(ageForm.days)" class="required" ng-messages-include="./templates/error-messages.html"></div>
</div>