<ui-select  ng-model="d2Model[d2ModelId]"
            theme="select2"
            ng-required="d2Required"
            ng-disabled="d2Disabled"
            name="foo"
            on-select="saveOption()"
            style="width: 100%">
    <ui-select-match allow-clear="true" ng-class="d2UseNotification ? getInputNotifcationClass(d2ModelId) : ''"  class="form-control-ui-select"  placeholder="{{'select_or_search' | translate}}">{{$select.selected.displayName  || $select.selected}}</ui-select-match>
    <ui-select-choices repeat="option.displayName as option in d2AllOptions | filter: $select.search | limitTo: (d2MaxOptionSize + 1)" ui-disable-choice="$index >= d2MaxOptionSize">
        <option ng-if="$index < d2MaxOptionSize" ng-bind-html="option.displayName | highlight: $select.search"></option>
        <option align="center" ng-if="$index >= d2MaxOptionSize" style="color:gray;" disable="true">{{d2AllOptions.length - d2MaxOptionSize}} {{'more_options_available' | translate}}</option>
    </ui-select-choices>
</ui-select>