<ui-select  ng-model="ngModel"
            theme="select2"
            ng-required="ngRequired"
            ng-disabled="ngDisabled"
            name="foo"
            on-select="onSelect"
            style="width: 100%">
    <ui-select-match allow-clear="true" ng-class="uiSelectMatchNgClass"  class="form-control-ui-select"  placeholder="{{'select_or_search' | translate}}">{{$select.selected.displayName  || $select.selected}}</ui-select-match>
    <ui-select-choices repeat="uiSelectChoicesRepeat" ui-disable-choice="$index >= maxOptionSize">
        <option ng-if="$index < maxOptionSize" ng-bind-html="optionNgBindHtml | highlight: $select.search"></option>
        <option align="center" ng-if="$index >= maxOptionSize" style="color:gray;" disable="true">{{allOptions.length - maxOptionSize}} {{'more_options_available' | translate}}</option>
    </ui-select-choices>
</ui-select>